.bar{
    background-color: var(--bar-color);
    height: 10px;
    width: 200px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-top: 5px;
    /* width: 200px; */
}
/* .bar:hover{
    box-shadow: 2px solid brown;
} */
.bar::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    background-color: var(--bar-after-color);
    transition: width 0.5s ease-in-out;
}
.html::after{
    width: 95%;
}
.css::after{
    width: 90%;
}
.tailwind::after{
    width: 70%;
}
.javascript::after{
    width: 80%;
}
.java::after{
    width: 90%;
}
.node::after{
    width: 90%;
}
.express::after{
    width: 95%;
}
.mysql::after{
    width: 80%;
}
.mongodb::after{
    width: 85%;
}
.git::after{
    width: 70%;
}