@import "tailwindcss";

html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root{
    --background-color: #fff;
    --btn-color: rgb(90, 54, 32);
    --btn-text-color: #fff;
    --text-color: rgb(90, 54, 32);
    --nav-color: #fff;
    --nav-hover-text-color: rgb(90, 54, 32, 0.7);
    --dropdown-color: rgb(90, 54, 32, 0.7);
    --dropdown-hover-text-color: rgb(90, 54, 32);
    --projects-read-text-color: rgb(156, 102, 68);
    --card-background-color: rgb(199, 176, 161);
    --card-text-color: rgb(90, 54, 32);
    --education-bullet-color: rgb(90, 54, 32);
    --bar-percent-color: rgb(90, 54, 32);
    --bar-color: #fff;
    /* --nav-text-color: rgb(90, 54, 32); */
}

[data-theme='dark']{
    --background-color: #292929;
    --btn-color: #fff;
    --btn-text-color: #222;
    --text-color: #fff;
    --nav-color: #292929;
    --nav-hover-text-color: rgba(250, 247, 247, 0.3);
    --dropdown-color: #222;
    --dropdown-hover-text-color: rgba(250, 247, 247, 0.3);
    --projects-read-text-color: rgba(250, 247, 247, 0.3);
    /* --skills-background-color: rgba(250, 247, 247, 0.3); */
    --card-background-color: rgb(27, 26, 26);
    /* --skills-text-color: #222; */
    --card-text-color: #fff;
    --education-bullet-color: #fff;
    /* --bar-percent-color: #222; */
    --bar-percent-color: #fff;
    /* --bar-color: #fff; */
    --bar-color: #4a4949;
    /* rgb(197, 190, 190) */
    /* --nav-text-color: white; */
}

body{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    margin: 0 auto 70px;
    /* margin-left: 100px; */
}

#root{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1,h2,p{
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h2,p{
    font-family: 'Roboto Mono', monospace;
}