@import "tailwindcss";

html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root{
    --background-color: #fff;
    --border-color: rgb(90, 54, 32, 0.6);
    --btn-border-color: rgb(90, 54, 32);
    /* --btn-text-color: rgb(90, 54, 32); */
    --btn-color: rgb(90, 54, 32);
    --btn-text-color: #fff;
    --btn-hover-color: rgb(64, 37, 20);
    --text-color: rgb(90, 54, 32);
    --nav-color: #fff;
    --nav-hover-text-color: rgb(90, 54, 32, 0.7);
    --dropdown-color: rgb(90, 54, 32);
    --dropdown-hover-text-color: rgba(225, 201, 186, 0.7);
    --projects-read-text-color: rgb(156, 102, 68);
    --projects-hover-background-color: rgba(84, 54, 33, 0.7);
    --card-background-color: rgb(199, 176, 161);
    --card-text-color: rgb(90, 54, 32);
    --education-bullet-color: rgb(90, 54, 32);
    --bar-percent-color: rgb(90, 54, 32);
    --bar-color: #fff;
}

[data-theme='dark']{
    --background-color: #292929;
    --border-color: rgb(255, 255, 255, 0.2);
    --btn-border-color: #fff;
    /* --btn-text-color: #fff; */
    --btn-color: #fff;
    --btn-text-color: #222;
    --btn-hover-color: #bdb6b6;
    --text-color: #fff;
    --nav-color: #292929;
    --nav-hover-text-color: rgba(250, 247, 247, 0.3);
    --dropdown-color: #222;
    --dropdown-hover-text-color: rgba(250, 247, 247, 0.3);
    --projects-read-text-color: rgba(250, 247, 247, 0.3);
    --projects-hover-background-color: rgba(8, 8, 8, 0.7);
    --card-background-color: rgb(27, 26, 26);
    --card-text-color: #fff;
    --education-bullet-color: #fff;
    --bar-percent-color: #fff;
    --bar-color: #4a4949;
}

body{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    margin: 0 auto 70px;
}

#root{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1,h2,p{
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h2,p{
    font-family: 'Roboto Mono', monospace;
}